/**
•	@site : Cliiink
•	@date : 08.11.21
•	@note : Elisa Morillon | Epitech
•	**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Amiri", serif;
}

/* CENTRER */
.conteneur {
  max-width: 85%; /* Réduire la taille d'un élément*/
  margin-left: auto; /* le centrer dans son parent */
  margin-right: auto;
}
.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*OMBRAGE*/
.small-shadow {
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.5);
  /* Ombrge material*/
}
/* Styles d'EN-TETES */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

a {
  text-decoration: none;
}
/* Les IMAGES */
img {
  display: inline-block;
}

/* CHARTE GRAPHIQUE */
/* Couleur de fond*/
/* classes de couleur de fond */
.bleu {
  background-color: #47bccb; /* bleu noir*/
}
.blanc {
  background-color: #fff; /* Bleu sombre*/
}
.orange {
  background-color: #f05a24;
}

/* Couleur de texte*/
.txt_bleu {
  color: #47bccb; /* Bleu sombre*/
}

.txt_blanc {
  color: #fff; /*violer vif */
}
.txt_orange {
  color: #f05a24;
}

/* Main*/

/* .group-card{
    display: flex;
    column-count: 3;
    justify-content: center;
} */
.card {
  border: solid 3px #47bccb;
  margin: 2vh;
}
/* Un calque au dessus de l'image -> pseudo-élément*/
.image-layer {
  position: relative; /* référent de possition du pseudo élément */
}

.image-layer::after {
  position: absolute; /* Pour le mettre au dessus de l'image*/
  top: 0;
  left: 0;
  display: block; /* pour qu'il existe*/
  content: ""; /* Son contenu est vide*/
  width: 100%;
  height: 100%;
  z-index: 1;
  background: inherit; /* couleur "courante" de l'image*/
  /*opacity: .5; /* transparence*/
  mix-blend-mode: multiply; /* Fusion à la facon de photoshop*/
}

/*La LEGENDE du carousel*/
.carousel-caption {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dsp-none {
  display: none;
}

article {
  border-top: 1px solid #ccc;
  /*padding-top: 4rem;
    padding-bottom: 2rem;*/
}

/* apparence de boutons*/
.btn {
  background-color: #1f4e63; /* Bleu sombre*/
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #ee6c4d; /* Orange pastel*/
  color: #fff;
}

/* HEADER */

/* FOOTER */
.backtop {
  border: solid 1px #47bccb;
  padding: 1.5vh;
  width: 10vw;
  float: right;
}

/* MEDIA QUERIES POUR MOBILE */
@media screen and (max-width: 700px) {
  .barresearch {
    display: none;
  }
}
